main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem 1.6rem 0 1.6rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin: 0 0 1.6rem 0;
}

.profile__image {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.profile__image--large {
    width: 8rem;
    height: 8rem;
}

.profile__welcome {
    text-align: center;
    font-size: 1.4rem;
    color: var(--first-color);
    font-weight: 500;
}

.button_container_head {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.button {
    height: 4rem;
    width: 40%;
    font-weight: 600;
    border: none;
    max-width: 40rem;
    cursor: pointer;
}

.button_container_head__register {
    background-color: var(--color-button-primary);
    color: var(--first-color);
}

.button_container_head__list {
    background-color: var(--color-button-secondary);
}

.button_container_head__link {
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: var(--first-color);
    font-weight: 800;
}

.container_list {
    display: flex;
    background-color: var(--first-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.6rem;
    padding: 1rem;
    width: 100%;
    max-width: 70rem;
    margin-bottom: 10rem;
}

.container_list__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_list__name {
    font-size: 1.4rem;
    color: var(--first-color);
    font-weight: 600;
}

.container_list__card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-button-primary);
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 1rem;
}

.container_list__section {
    display: flex;
    justify-content: space-evenly;
}

.container_list__text {
    color: white;
    font-size: 1.4rem;
}

.container_list__text--bold {
    font-weight: 600;
}

.container_list__section--right {
    align-self: flex-end;
    margin-right: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0 1rem;
    margin: 0 0 1.6rem 0;
}

.profile__link {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 1%;
}

.profile__welcome {
    text-align: center;
    font-size: 1.4rem;
    color: var(--first-color);
    font-weight: 500;
}

.container_list__paginate div > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_list__paginate div svg {
    width: 8%;
}
